<nav class="header-nav reveal">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About">
          <span>About</span>
        </a>
      </li>
    {% endif %}
      <li>
        <a href="{{ 'people' | relative_url }}" title="People">
          <span>People</span>
        </a>
      </site.li>
      <li>
        <a href="{{ 'projects' | relative_url }}" title="Projects">
          <span>Projects</span>
        </a>
      </li>
    {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Twitter">
          <span class="icon icon-social-twitter"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.github %}
      <li>
        <a href="https://github.com/{{ site.social.github }}" target="_blank" title="GitHub">
          <span class="icon icon-social-github"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}" title="Email">
          <span class="icon icon-at"></span>
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS">
          <span class="icon icon-social-rss"></span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
